.btn{
    background: #2389FF;
box-shadow: 0px 5px 15px rgba(35, 137, 255, 0.15);
border-radius: 5px;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: white;
}

.mainA:hover{
    background: #FFFFFF;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.716);
border-radius: 5px;

}

.NAT{
    background: rgba(35, 137, 255, 0.1);
border-radius: 10px;
}

.main_4{
    /* background: linear-gradient(94.21deg, #F4F7FE 0.24%, rgba(244, 247, 254, 0.5) 100%); */
}

.main_5{
    background: linear-gradient(92.31deg, #2389FF 0.74%, rgba(35, 137, 255, 0.5) 98.19%);
}

.btn5{
    background: #FFFFFF;
border-radius: 5px;
font-weight: 600;
font-size: 20px;
line-height: 26px;
/* identical to box height */


color: #2389FF;

}

.input{
    border: 1px solid #000;
}